.black_input {
  width: 80%;
  height: 3em;
  border: none;
  color: #adadad;
  background-color: transparent;
  font-size: 1.2em;
  caret-color: #a2a6ae;
  text-align: center;
  box-shadow: 0 0 5px 1px #fff;
  box-sizing: border-box;
  outline: 0;
}