.transparent_button2 {
  display: flex;
  padding: .3rem 1rem;
  border-radius: 100vh;
  transition: background-color .3s;
  cursor: pointer;

  &:hover {
    background-color: #ffffff20;
  }

  &:active {
    background-color: #ffffff44;
  }

  .icon_before_container {
    padding: 0 5px;
  }
}