.song_details_page .song_details_container .song_info {
  .right_song_details {
    flex: 1;
    height: 100%;
    padding: 0 2rem;

    .info_container {
      height: 20%;

      .title {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
      }

      .author {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    .lyric_container {
      position: relative;
      height: 80%;
    }
  }
}