.transparent_button {
  font-size: 1.8em;
  font-family: "SourceHanSansCN-Light";
  color: #c6c9ce;
  line-height: 1.2;
  text-decoration: none;
  transition: color .3s ease;
  cursor: default;

  &:hover,
  &.disabled {
    color: #8f959f;
  }

  &.disabled .anticon {
    cursor: default !important;
  }
}