.transparent_button {
  font-family: "SourceHanSansCN-Light";
  position: relative;
  line-height: 1.2;
  color: #c6c9ce;
  font-size: 1.8em;
  text-decoration: none;
  transition: color .3s ease;
  margin: 0 1em;

  &:hover.hover_pointer {
    color: #ffffff;
    cursor: pointer;
  }


  &.disabled {
    color: rgb(95, 88, 88);
    cursor: default !important;
  }
}