.header_timer {
  font-family: 'Orbitron';
  font-size: 2em;
  font-weight: 700;

  span {
    color: #e2e2e2;
    text-shadow: 2px 1px 6px #777;
    animation: header_timer_font_color_change .3s ease-in;
  }
}

@keyframes header_timer_font_color_change {
  from {
    color: #888;
  }

  to {
    color: #e2e2e2;
  }
}