.song_list_page {
  width: 80% !important;
  color: #fff;
  animation: 1s songListIn;

  &.page-enter,
  &.page-exit {
    position: absolute;
  }

  &.page-exit-active {
    opacity: 0;
    transition: opacity .5s, transform .5s;
  }

  .song_list_page_container {
    display: flex;
    height: 100%;
    padding: 1rem 0;
  }
}

@keyframes songListIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  50% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}