@import url(~@/styles/Antd/YellowButton.css);

.right_music_state_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1.2em 3em;

  .left_title {
    font-family: 'Orbitron';
    font-size: 1.4em;
  }

  .right_switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    .transparent_button {
      margin: 0;
    }

    .iconfont {
      position: relative;
      top: 3px;
      font-size: 1.1em;
    }

    span {
      font-size: 1em;
      vertical-align: top;
    }
  }
}