.loading_mask {
  // display: none;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(135deg, #000, #333);
  transition: opacity .8s;

  .title {
    font-family: 'Orbitron';
    font-size: 2.4rem;
  }

  &.done {
    .progress_bar_container {
      opacity: 0;
    }
  }

  &.hidden {
    opacity: 0;

    .progress_bar_container {
      opacity: 0;
    }
  }
}