.right_music_state {
  z-index: 2000;
  position: absolute;
  top: 0;
  right: 0;
  width: 30em;
  height: 100%;

  .hover_light {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.679));
    opacity: 0.05;
    transition: opacity .3s;

    &:hover {
      opacity: 0.2;
    }
  }

  .list_box {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform .8s;
    background-image: linear-gradient(90deg, rgba(99, 99, 99, .1), rgba(99, 99, 99, .1) 1px, transparent 0, transparent), linear-gradient(90deg, hsla(0, 0%, 100%, .1) -20%, transparent 15%), linear-gradient(0deg, hsla(0, 0%, 100%, .1), transparent 25%);
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    &.active {
      transform: none;
    }

    .music_state,
    .music_list {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    .music_list {
      height: 60%;
    }
  }
}