.ant-descriptions.transparent_description {
  height: 100%;
  padding: 0 2rem;
}
.ant-descriptions.transparent_description .ant-descriptions-item-container .ant-descriptions-item-label {
  color: #fff;
}
.ant-descriptions.transparent_description .ant-descriptions-item-container .ant-descriptions-item-content {
  justify-content: center;
  color: #fff;
}
