.black_pagination.ant-pagination li {
  height: 100%;
  width: 2rem;
  height: 2rem;
  border-color: #fff;
  background: transparent;
  transition: background-color 0.3s;
}
.black_pagination.ant-pagination li.ant-pagination-jump-next .ant-pagination-item-link .ant-pagination-item-container .anticon,
.black_pagination.ant-pagination li.ant-pagination-jump-prev .ant-pagination-item-link .ant-pagination-item-container .anticon {
  color: #000;
}
.black_pagination.ant-pagination li.ant-pagination-jump-next .ant-pagination-item-link .ant-pagination-item-container .ant-pagination-item-ellipsis,
.black_pagination.ant-pagination li.ant-pagination-jump-prev .ant-pagination-item-link .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: #fff;
}
.black_pagination.ant-pagination li a,
.black_pagination.ant-pagination li .ant-pagination-item-link {
  display: block;
  height: 100%;
  line-height: 1.8rem;
  color: #fff;
  background: transparent;
  transition: all 0.3s;
}
.black_pagination.ant-pagination li a:hover,
.black_pagination.ant-pagination li .ant-pagination-item-link:hover {
  color: #000;
  background: #fff;
  border-color: #fff;
}
.black_pagination.ant-pagination li.ant-pagination-item-active {
  background: #fff;
}
.black_pagination.ant-pagination li.ant-pagination-item-active a {
  color: #000;
}
