.white_scroll .white_scroll_track-vertical {
  right: 0;
  width: 8px !important;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.5s;
}
.white_scroll .white_scroll_track-vertical:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.white_scroll .white_scroll_thumb-vertical {
  background-color: transparent;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.white_scroll .white_scroll_thumb-vertical:hover {
  box-shadow: 0 0 5px 1px #fff;
  background-color: #fff;
}
