@font-face {
  font-family: Orbitron;
  src: url(~@/assets/fonts/orbitron/Orbitron-Medium.ttf);
}

@font-face {
  font-family: SourceHanSans-Light;
  src: url(~@/assets/fonts/SourceHanSansCN-Normal.ttf);
}

// 自定义 Modal
@import './styles/Antd/Modal.less';

// 黄色按钮
@import './styles/Antd/YellowButton.less';

// 全局消息样式覆盖
@import './styles/Antd//Message.less';

// 自定义 Popconfirm
@import './styles/Antd/PopConfirm.less';

// 修改抽屉样式
@import './styles/Antd/Drawer.less';

// 滚动条
@import './styles/ReactCustomScroll/White_scroll.less';

// 自定义 description
@import './styles/Antd/Description.less';

// 自定义 Spin
@import './styles/Antd/Spin.less';

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #191919;
  overflow: hidden;
  min-width: 1024px;
}

body {
  background-color: transparent !important;
  font-size: inherit !important;
}

.underline_button {
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    cursor: pointer;
  }
}

.transparent_button {
  font-family: 'SourceHanSansCN-Light';
  position: relative;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #c6c9ce !important;
  }

  &:hover.hover_pointer {
    cursor: pointer;
  }

  &.active {
    color: #c6c9ce !important;
  }

  &.disabled {
    color: rgb(95, 88, 88) !important;
    cursor: default !important;
  }
}

.f1 {
  flex: 1;
}

.por {
  position: relative;
}

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h50 {
  height: 50%;
}

.h40 {
  height: 40%;
}

.h30 {
  height: 30%;
}

.h20 {
  height: 20%;
}

.h10 {
  height: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -webkit-appearance: none !important;
}

@media only screen and (max-width: 1366px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 428px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 414px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 6px;
  }
}

@media screen and (orientation: landscape) and (max-height: 968px) {
  html {
    font-size: 15px;
  }
}

@media screen and (orientation: landscape) and (max-height: 940px) {
  html {
    font-size: 14px;
  }
}

@media screen and (orientation: landscape) and (max-height: 870px) {
  html {
    font-size: 13px;
  }
}

@media screen and (orientation: landscape) and (max-height: 805px) {
  html {
    font-size: 12px;
  }
}

@media screen and (orientation: landscape) and (max-height: 745px) {
  html {
    font-size: 11px;
  }
}

@media screen and (orientation: landscape) and (max-height: 690px) {
  html {
    font-size: 10px;
  }
}

@media screen and (orientation: landscape) and (max-height: 625px) {
  html {
    font-size: 9px;
  }
}
