@font-face {
  font-family: Orbitron;
  src: url(~@/assets/fonts/orbitron/Orbitron-Medium.ttf);
}

@font-face {
  font-family: SourceHanSans-Light;
  src: url(~@/assets/fonts/SourceHanSansCN-Normal.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #191919;
}

body {
  background-color: transparent !important;
}

@media only screen and (max-width: 1366px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 428px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 414px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 6px;
  }
}

@media screen and (orientation: landscape) and (max-height: 968px) {
  html {
    font-size: 15px;
  }
}

@media screen and (orientation: landscape) and (max-height: 940px) {
  html {
    font-size: 14px;
  }
}

@media screen and (orientation: landscape) and (max-height: 870px) {
  html {
    font-size: 13px;
  }
}

@media screen and (orientation: landscape) and (max-height: 805px) {
  html {
    font-size: 12px;
  }
}

@media screen and (orientation: landscape) and (max-height: 745px) {
  html {
    font-size: 11px;
  }
}

@media screen and (orientation: landscape) and (max-height: 690px) {
  html {
    font-size: 10px;
  }
}

@media screen and (orientation: landscape) and (max-height: 625px) {
  html {
    font-size: 9px;
  }
}