.layout {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: transparent;

  .header,
  .footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .middle_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}