.layout {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: transparent;

  .header,
  .footer {
    z-index: 1000;
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }

  .middle_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#mainAudio {
  display: none;
}